@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-img-desktop {
  background-image: url('images/bg-header-desktop.png');
  height: 363px;
}
.bg-img-mobil {
  background-image: url('images/bg-header-mobile.png');
  height: 363px;
}
p, .font-bai{
  font-family: Bai Jamjuree;
  font-size: 20px;
  color: hsl(201, 11%, 66%);
}
.font_size{
  font-size: 18px;
}
.col_cyan:hover{
  color:  hsl(171, 66%, 44%);
}
.bg_cyan:hover{
  fill:  hsl(171, 66%, 44%);
}